@import "../variables.less";

.button {
	font-size: 12pt;

	background-color: @dark;
	color: @light;

	border: 2px solid transparent;
	border-radius: @button-radius;

	font-weight: 600;
	text-decoration: none;

	min-width: 24px;
	min-height: 24px;

	@media (max-width: @sizes[mobile]) {
		min-width: 44px;
		min-height: 44px;
	}

	cursor: pointer;
	padding: @button-padding;

	&:active {
		transform: scale(0.99);
	}

	&:hover {
		opacity: 0.8;
	}

	&-primary {
		background-color: @primary;
		.on-primary;
	}

	&-secondary {
		background-color: @secondary;
		.on-secondary;
	}

	&-danger {
		background-color: @error;
		.on-error;
	}
}
