.generate-containers(@n, @i: 1) when (@i =< @n) {
	@size: @i * 300;

	.container-@{size} {
		max-width: @size * 1px;
	}

	.generate-containers(@n, (@i + 1));
}

.generate-containers(5);

.container-centered {
	margin-left: auto;
	margin-right: auto;
}

.container-scroll {
	overflow: auto;
}
