/**
	This class removes the 'old-style' numerics on Raleway font
 */
.linedNumbers {
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum=1";
	-ms-font-feature-settings: "lnum" 1;
	-o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
}

.font {
	&-100 {
		font-weight: 100;
	}

	&-200 {
		font-weight: 200;
	}

	&-300 {
		font-weight: 300;
	}

	&-400 {
		font-weight: 400;
	}

	&-500 {
		font-weight: 500;
	}

	&-600 {
		font-weight: 600;
	}

	&-700 {
		font-weight: 700;
	}

	&-800 {
		font-weight: 800;
	}

	&-900 {
		font-weight: 900;
	}

	&-italic {
		font-style: italic;
	}
}

.text {
	&-center {
		text-align: center;
	}

	&-end {
		text-align: end;
	}

	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-start {
		text-align: start;
	}

	&-justify {
		text-align: justify;
	}
}
